.wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; color: white; }
.wrapper code { background: #F5F5F5; padding: 2px 6px; }
.wrapper .container { color: black; }

.page-links {
    color: white;
    font-weight: bolder;
}

body {
    min-height: 100vh;
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("https://www.univision.com/proxy/api/cached/picture?href=https%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2Fassets%2Fvixes%2Fe%2Fel_misterioso_origen_del_virus_de_the_walking_dead_portada.jpg&width=0&height=0&ratio_width=1240&ratio_height=698&format=webp");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: auto;
}

.text-gray {
    color: #aaa;
}

img {
    height: 150px;
    width: 150px;
}

.navbar-dark {
    background-color: black !important;
}

.navbar-dark * {
    font-size: 2rem;
    font-weight: bold;
}

a.nav-link {
    background-color: #bbb;
    color: white;
}

.nav-fill .nav-item {
    margin: 0 0.5em
}

.list-group-item {
    background-color: #fffd;
}

.disheslist {
    list-style: none;
    margin-top: 1em;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
  
.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}
  
.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}
  
.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}

.options {
    margin: 0 0 1em;
}